<h2>Add Party</h2>
<form action="addparty" method="GET">
    <div class="form-group">
        <select class="form-control" name="name" ng-repeat="x in items">
            <option value="#">Select Option</option>
            <% for (i=0; i< items.length; i++) { %>
            <option value="<%=items[i].name %>"><%=items[i].name%></option>
            <% } %>
        </select>
    </div>
    <div class="form-group">
        <input type="text" name="partyName" id="partyName" class="form-control" placeholder="Party Name">
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add Party">
</form>