<h2>Create Party</h2>
<form method="POST">
    <div class="form-group" id="create-party-form">
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="party" id="party" placeholder="Enter Party">
    </div>
    <div class="form-group">
        <input type="submit" id="createparty" class="btn btn-primary btn-lg btn-block" value="Create">
    </div>
</form>