<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--    JS FILE     -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--              A N G U L A R      J S          -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>
  <h1><%= title %></h1>


  <!--    T A B S     -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" onclick="party()">CREATE PARTY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" onclick="searchparty()">SEARCH PARTY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" onclick="addparty()">ADD PARTY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" onclick="deletetab()">DELETE PARTY</a>
    </li>
  </ul>

  <div id="partydashboard"></div>

  <!--     T A B S    E N D S        -->


  <div class="container all-parties">

  </div>

  <div id="listAll"></div>

  <div id="myPieChart"></div>

  <div id="demo"></div>
  <script>
    // function angularFunction() {
    //   var app = angular.module('myApp', []);
    //   app.controller('myCtrl', function ($scope) {
    //     $scope.items = JSON.parse('<%- JSON.stringify(items) %>');
    //   });
    // };
    var appData = JSON.parse('<%- JSON.stringify(items) %>');
    console.log(appData)
  </script>
  <!--   G O O G L E   C H A R T    D A T A   -->
  <script type="text/javascript">
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('number', 'Party');
      for (i = 0; i < appData.length; i++) {
        data.addRows([
          [appData[i].name, appData[i].party.length],
        ]);
      }
      // Set chart options
      var options = {
        'title': 'Party Chart',
        'width': 700,
        'height': 500
      };
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
      chart.draw(data, options);
    }
  </script>


  <script src="/javascripts/index.js"></script>
</body>

</html>