<h2>Search Party</h2>
<form action="searchparty" method="GET">
    <div class="form-group">
        <select class="form-control" name="name" onchange="showParty(this.value)">
            <option>Select Employee</option>
            <% for (i=0; i < items.length; i++) { %>
            <option value="<%=items[i].name%>"><%=items[i].name%></option>
            <% } %>
        </select>
    </div>
</form>

<id id="search"></id>