<h1><%=result.name%>'s Party</h1>

<table class="table table-border">
    <thead>
        <tr>
            <th>Party Name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <form>
            <input type="hidden" name="name" value="<%=result.name%>" id="name">
            <% for(i=0; i < result.party.length ; i++) { %>
            <input type="hidden" name="partyValue" value="<%=result.party[i]%>" id="partyValue">
            <tr>
                <td><%=result.party[i]%></td>
                <td><button type="submit" name="submit" onclick="deleteone()">Delete</button></td>
            </tr>
            <% } %>
        </form>
    </tbody>
</table>