<ul>
    <%for(i=0; i < result.length ; i++) { %>
    <li><%=result[i].name%> ---- <%=result[i].party%></li>
    <%}%>
</ul>
<br>
<br>
<ul>
    <%result.forEach(function(x){%>
    <li><%=x.name%>----<%=x.party%></li>
    <%})%>
</ul>