<h1><%=result.name%>'s Party</h1>

<table class="table table-border">
    <thead>
        <tr>
            <th>Party Name</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=result.party%></td>
            <td><%=result.id%></td>
        </tr>
    </tbody>
</table>